.popup__input {
    margin: 0;
    padding: 0;
    margin-top: 54px;
    margin-left: 36px;
    width: 83%;
    min-height: 27px;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    outline: none;
}

.popup__input:last-of-type {
    margin-top: 30px;
}