.popup__container {
    width: 33%;
    min-height: 330px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@media screen and (max-width: 780px) {
    .popup__container {
        width: 88%;
        min-height: 322px;
    }
}

@media screen and (max-width: 320px) {
    .popup__container {
        width: 88%;
        min-height: 322px;
    }
}