.profile {
    padding-top: 36.25px;
    width: 73%;
    margin: 0 auto;
    display: flex;
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
        justify-content: center;
    }
}