.profile {
    width: 68%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 950px) {
    .profile {
        margin-top: 38.25px;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        margin-top: 38.25px;
        width: 88%;
        flex-direction: column;
    }
}