.elements {
    width: 73%;
    margin: 0 auto;
    margin-top: 47.25px;
    padding-bottom: 67px;
    box-sizing: border-box;
    display: grid;
    gap: 17px;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
}