.elements {
    width: 68%;
    margin: 0 auto;
    margin-top: 47.25px;
    padding-bottom: 67px;
    box-sizing: border-box;
    display: grid;
    gap: 17px;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

@media screen and (max-width: 450px) {
    .elements {
        width: 88%;
        margin-top: 36px;
        padding-bottom: 48px;
        gap: 20px;
    }
}

@media screen and (max-width: 320px) {
    .elements {
        width: 88%;
        margin-top: 36px;
        padding-bottom: 48px;
        gap: 20px;
    }
}