.profile__add-button-pic {
    width: 22px;
    height: 22px;
}

@media screen and (max-width: 950px) {
    .profile__add-button-pic {
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: 320px) {
    .profile__add-button-pic {
        width: 16px;
        height: 16px;
    }
}