.profile__description {
    margin: 0;
    width: 100%;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 950px) {
    .profile__description {
        font-size: 14px;
        line-height: 16.94px;
        text-align: center;
    }
}