.popup__save-button {
    margin: 0 auto;
    margin-top: 48px;
    width: 83%;
    min-height: 50px;
    background-color: #000000;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    color: #FFFFFF;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}