.profile__info {
    width: 87.5%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

@media screen and (max-width: 950px) {
    .profile__main {
        row-gap: 14px;
    }
}

@media screen and (max-width: 320px) {
    .profile__main {
        row-gap: 14px;
        width: 83%;
    }
}