.elements__like-button {
    margin-top: 30px;
    margin-right: 10.6%;
    width: 22px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease;
    border: 0;
    background-color: unset;
    cursor: pointer;
}

.elements__like-button:hover {
    opacity: 0.5;
}