.elements__like-button {
    margin-top: 30px;
    margin-right: 5.5%;
    width: 22px;
    height: 19px;
    transition: opacity 0.4s ease;
    border: 0;
    background-color: unset;
    cursor: pointer;
    background-image: url(../../../images/like__button.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
}

.elements__like-button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 480px) {
    .elements__like-button {
        margin-right: 6.7%;
    }
}