.footer {
    margin: 0 auto;
    padding-bottom: 60px;
    box-sizing: border-box;
    width: 68%;
}

@media screen and (max-width: 780px) {
    .footer {
        width: 88%;
        padding-bottom: 36px;
    }
}