.popup__title {
    margin: 0;
    margin-top: 35px;
    margin-left: 36px;
    width: 76%;
    font-size: 24px;
    line-height: 29.05px;
    font-weight: 900;
}

@media screen and (max-width: 850px) {
    .popup__title {
        width: 84%;
        margin-top: 25px;
        margin-left: 22px;
        font-size: 18px;
        line-height: 21.78px;
    }
}